In [1]:
import pandas as pd
from pathlib import Path

In [2]:
customer_churn_df= pd.read_csv(Path("WA_Fn-UseC_-Telco-Customer-Churn.csv"))
customer_churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
customer_churn_df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [4]:
#narrow down the amount of columns

In [5]:
new_df=customer_churn_df[["customerID","MonthlyCharges", "TotalCharges", "Churn"]]
new_df

      customerID  MonthlyCharges TotalCharges Churn
0     7590-VHVEG           29.85        29.85    No
1     5575-GNVDE           56.95       1889.5    No
2     3668-QPYBK           53.85       108.15   Yes
3     7795-CFOCW           42.30      1840.75    No
4     9237-HQITU           70.70       151.65   Yes
...          ...             ...          ...   ...
7038  6840-RESVB           84.80       1990.5    No
7039  2234-XADUH          103.20       7362.9    No
7040  4801-JZAZL           29.60       346.45    No
7041  8361-LTMKD           74.40        306.6   Yes
7042  3186-AJIEK          105.65       6844.5    No

[7043 rows x 4 columns]

In [6]:
new_df.dtypes

customerID         object
MonthlyCharges    float64
TotalCharges       object
Churn              object
dtype: object

In [7]:
new_df= new_df.dropna()
new_df= new_df.drop_duplicates()

In [8]:
new_df["TotalCharges"][488]

' '

In [9]:
new_df = new_df.drop(new_df.index[488])

In [10]:
new_df = new_df.drop(new_df.index[752])

In [11]:
new_df = new_df.drop(new_df.index[934])

In [12]:
new_df = new_df.drop(new_df.index[1079])

In [13]:
new_df = new_df.drop(new_df.index[1336])

In [14]:
new_df = new_df.drop(new_df.index[3326])

In [15]:
new_df = new_df.drop(new_df.index[3820])

In [16]:
new_df = new_df.drop(new_df.index[4373])

In [17]:
new_df = new_df.drop(new_df.index[5210])

In [18]:
new_df = new_df.drop(new_df.index[6661])

In [19]:
new_df = new_df.drop(new_df.index[6744])

In [20]:
new_df["TotalCharges"] = pd.to_numeric(new_df["TotalCharges"])

In [21]:
new_df.dtypes

customerID         object
MonthlyCharges    float64
TotalCharges      float64
Churn              object
dtype: object

In [22]:
new_df.head()

   customerID  MonthlyCharges  TotalCharges Churn
0  7590-VHVEG           29.85         29.85    No
1  5575-GNVDE           56.95       1889.50    No
2  3668-QPYBK           53.85        108.15   Yes
3  7795-CFOCW           42.30       1840.75    No
4  9237-HQITU           70.70        151.65   Yes

In [41]:
# use get dummies to transform categorical data to binary
new_df=pd.get_dummies(new_df,columns=["Churn"],dtype=float).copy()
new_df.head()

   customerID  MonthlyCharges  TotalCharges  Churn_No  Churn_Yes
0  7590-VHVEG           29.85         29.85       1.0        0.0
1  5575-GNVDE           56.95       1889.50       1.0        0.0
2  3668-QPYBK           53.85        108.15       0.0        1.0
3  7795-CFOCW           42.30       1840.75       1.0        0.0
4  9237-HQITU           70.70        151.65       0.0        1.0

In [24]:
dummies_df_1 = pd.get_dummies(customer_churn_df["Dependents"])
dummies_df_1.head()

   No  Yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [25]:
customer_churn_df_dummies = pd.get_dummies(customer_churn_df["PhoneService"])
customer_churn_df_dummies.head()

   No  Yes
0   1    0
1   0    1
2   0    1
3   1    0
4   0    1

In [26]:
customer_churn_df_dummies

      No  Yes
0      1    0
1      0    1
2      0    1
3      1    0
4      0    1
...   ..  ...
7038   0    1
7039   0    1
7040   1    0
7041   0    1
7042   0    1

[7043 rows x 2 columns]

In [27]:
#standardize data for numerical values
from sklearn.preprocessing import StandardScaler

In [28]:
X=new_df[["MonthlyCharges", "TotalCharges"]]
X.head()

   MonthlyCharges  TotalCharges
0           29.85         29.85
1           56.95       1889.50
2           53.85        108.15
3           42.30       1840.75
4           70.70        151.65

In [29]:
y=new_df["Churn"]

In [30]:
x_scaled = StandardScaler().fit_transform(new_df[["MonthlyCharges", "TotalCharges"]])

In [31]:
#run model, fit to model and backtest

In [32]:
customer_churn_df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [33]:
X=customer_churn_df_scaled[["MonthlyCharges", "TotalCharges"]]
X.head()

NameError: name 'customer_churn_df_scaled' is not defined

In [ ]:
customer_churn_prediction = pd.concat([new_df, ], axis=1)